.App {
  display: flex;
  max-width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(182 182 182);
  background: linear-gradient(49deg, rgb(182 182 182 / 100%) 0%, rgb(239 245 246 / 100%) 100%);
}

.card {
  width: 50%;
}
