.Actions {
  display: flex;
}

.buy {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  margin-right: 60px;
  color: green;
}

.sell {
  display: flex;
  height: auto;
  flex-direction: column;
  align-items: center;
  color: red;
}

.price {
  color: inherit;
  font-size: 32px;
}

.title {
  color: inherit;
  font-size: 40px;
}
